@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<!-- <video id="myVideo" height="400" width="600" loop autoplay controls>
    <source src="source.mp4" type="video/mp4"/>
    <source src="source.mp4" type="video/mp4"/>
    <object>
        <p>This video is not supported by this browser</p>
    </object>
</video>

<ul>
    <li><span id="forward" class="glyphicon glyphicon-play"></span></li>
    <li><span id="backward" class="glyphicon glyphicon-backward"></span></li>
    <li><span id="pause" class="glyphicon glyphicon-pause"></span></li>
</ul> -->

<canvas id="myCanvas" width="600" height="400">
    Your browser doesn't support this shit.
</canvas>
